{% extends "base.html" %}
{% block content %}
	<div class="row-fluid">
		<div class="offset2 span8 lead">
			<h1> O BT Films </h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis felis nec ligula consequat elementum scelerisque id ante. Nulla condimentum, magna ac bibendum sagittis, mauris diam dignissim quam, et molestie purus ipsum a ligula. Praesent malesuada convallis venenatis. Sed enim metus, cursus sed euismod non, ultricies vel nibh. Suspendisse ultrices sollicitudin molestie. Fusce adipiscing accumsan lacinia. Curabitur imperdiet hendrerit diam et faucibus. Duis id nisi diam. Sed adipiscing pretium adipiscing. Cras id euismod ante. Praesent nisl sapien, tincidunt eu pellentesque in, venenatis a elit. Nullam vitae sapien ut quam ultrices varius non et mi. Phasellus fringilla hendrerit nulla, iaculis venenatis neque vestibulum nec. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			</p>
		</div>
	</div>
{% endblock content %}
