{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
		<div class="span3"></div>
		

		<div class="span6">
			    <h2>Perfil Usuário</h2>
			<form class="well" name="frm_alt" style="min-height: 410px;" method="post" action="/alterar">
				
				<div class="span6"> 
					  <label>Nome:</label> <input placeholder="Digite seu nome aqui" name="name" type="text" value="{{ usuario.us_nome }}" />
					  <label>Apelido:</label> <input  placeholder="Digite seu apelido aqui" name="nick" type="text "value="{{ usuario.us_apelido }}"/>
					  <label>Cpf:</label> <input placeholder="Digite seu cpf aqui" name="cpf" type="text" value="{{ usuario.us_cpf }}" />
					  <label>Email:</label> <input placeholder="Digite seu email aqui" name="email" type="text" value="{{ usuario.us_email }}" />
					  <label>Nova Senha:</label> <input placeholder="Digite sua nova senha aqui" name="pwd" type="password"/>
					  <label>Confimar Senha:</label> <input placeholder="Digite sua nova senha novamente" name="pwd2" type="password"/>
					  <label>
							  <input type="submit" class="btn" value="Alterar" />
					  </label>
				</div> 
				<div class="span3"> 
					  <label style="padding-bottom: 15px;" ><input name="unknown" type="checkbox" {{ perfil.unknown }}   /> Unknown</label>
					  <label style="padding-bottom: 15px;"><input name="action" type="checkbox"  {{ perfil.action }} /> Action</label> 
					  <label style="padding-bottom: 15px;"><input name="adventure" type="checkbox" {{ perfil.adventure }} /> Adventure</label> 
					  <label style="padding-bottom: 15px;"><input name="animation" type="checkbox" {{ perfil.animation }}/> Animation</label> 
					  <label style="padding-bottom: 15px;"><input name="children" type="checkbox"  {{ perfil.children }} /> Children</label> 
					  <label style="padding-bottom: 15px;"><input name="comedy" type="checkbox"  {{ perfil.comedy }} /> Comedy</label> 
					  <label style="padding-bottom: 15px;"><input name="crime" type="checkbox"  {{ perfil.crime }} /> Crime</label> 
					  <label style="padding-bottom: 15px;"><input name="documentary" type="checkbox"  {{ perfil.documentary }} /> Documentary</label>
					  <label style="padding-bottom: 15px;"><input name="drama" type="checkbox"  {{ perfil.drama }} /> Drama</label> 
					  <label style="padding-bottom: 15px;"><input name="fantasy" type="checkbox"  {{ perfil.fantasy }} /> Fantasy</label>
				</div>
				<div class="span3">
					  
					  <label style="padding-bottom: 15px;"><input name="filmnoir" type="checkbox"  {{ perfil.filmnoir }} /> Filmnoir</label> 
					  <label style="padding-bottom: 15px;"><input name="horror" type="checkbox"  {{ perfil.horror }} /> Horror</label> 
					  <label style="padding-bottom: 15px;"><input name="musical" type="checkbox"  {{ perfil.musical }} /> Musical</label> 
					  <label style="padding-bottom: 15px;"><input name="mystery" type="checkbox"  {{ perfil.mystery }} /> Mystery</label> 
					  <label style="padding-bottom: 15px;"><input name="romance" type="checkbox"  {{ perfil.romance }} /> Romance</label> 
					  <label style="padding-bottom: 15px;"><input name="scifi" type="checkbox"  {{ perfil.scifi }} /> Scifi</label> 
					  <label style="padding-bottom: 15px;"><input name="thriller" type="checkbox"  {{ perfil.thriller }} /> Thriller</label> 
					  <label style="padding-bottom: 15px;"><input name="war" type="checkbox"  {{ perfil.war }} /> War</label> 
					  <label style="padding-bottom: 15px;"><input name="western" type="checkbox"  {{ perfil.western }} /> Western</label> 
					  
			        </div>
			
			    
			    
			</form>
		
</div>
{% endblock content %}

