{% extends "base.html" %}
{% block content %}
	   
			  <div class="span12">
				  <ul class="nav nav-tabs">
					  <li class="active"> <a href="#">Usuários</a></li>
		      </ul>
				  <div class="container-fluid">
						{% if usuarios %}	
						  {% for usuario in usuarios %}
							  <div class="row-fluid">
							  		<div class="span2">
											<img src="static/user_images/thundercats.jpg" width="150" height="100" />
									</div>
									<div class="span4">
										<p> Nome: {{ usuario.us_nome }} </p>
										<p> Apelido: {{ usuario.us_apelido }} </p>
										{% if logado: %}
										<p> Email: {{ usuario.us_email }} </p>
										<p> Confiança: <i class="icon-star-empty"></i> 
											<i class="icon-star-empty"></i> 
											<i class="icon-star-empty"></i>
											<i class="icon-star-empty"></i>
											<i class="icon-star-empty"></i> 
											</p>
										{% endif %}
									</div>
							  </div>
							  <hr/>
						  {% endfor %}
	  				  {% else %}
						  <div class="row-fluid">
								<div class="offset3 span6">
									<h2> Não encontramos nenhum usuário </h2>
								</div>
								<div class="offset4 span6">
									<img src="static/image/sadtiger.jpg" alt="Sad tiger" />
								</div>
							</div>
					  {% endif %}

				  </div>
            </div><!--/span-->
		</div><!--/row-->
{% endblock content %}
