{% extends "base.html" %}
{% block content %}
		<div class="span{{ span_num }}">
			{% block query_area %}
				<!-- <div class="leaderboard"> 
						<div style="text-align:center">
			<div class="row-fluid">
				<div class="offset3 span7">
					<form class="well form-inline" name="frm_search" method="get" action="#">
						<input type="text" name="query" placeholder="pesquise por" />
								<select id="attbr">
									<option> Todos </option>
									<option> Filmes </option>
									<option> Gênero </option>
									<option> Ator </option>
									<option> Diretor </option>
									<option> Escritor </option>
								</select>
								<button class="btn" type="submit">
									<i class="icon-search"></i>
									Pesquisar
								</button>
					</form>
				</div>
			</div>
			</div>
				
		</div>		  	-->
			{% endblock query_area %}
			
		   
		  <div class="row-fluid">
			  <div class="span12">
				  <ul class="nav nav-tabs">
					  <li class="active"> <a href="#">Usuários</a></li>
		      </ul>
				  <div class="container-fluid">
						{% if usuarios %}	
						  {% for usuario in usuarios %}
							  <div class="row-fluid">
							  		<div class="span2">
											<img src="static/user_images/thundercats.jpg" width="150" height="100" />
									</div>
									<div class="span4">
										<p> Nome: {{ usuario.us_nome }} </p>
										<p> Email: {{ usuario.us_email }} </p>
										<p> Confiança: <i class="icon-star-empty"></i> 
											<i class="icon-star-empty"></i> 
											<i class="icon-star-empty"></i>
											<i class="icon-star-empty"></i>
											<i class="icon-star-empty"></i> 
											</p>
									</div>
						  </div>
							  <hr/>
						  {% endfor %}
	  				  {% else %}
						  <div class="row-fluid">
								<div class="offset3 span6">
									<h2> Não encontramos nenhum usuário </h2>
									<img src="static/image/sadtiger.jpg" alt="Sad tiger" />
								</div>
							</div>
					  {% endif %}

				  </div>
            </div><!--/span-->
		</div><!--/row-->

{% endblock content %}
