<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BT Films</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site de Recomendação de filmes">
    <meta name="author" content="Álvaro Reis, Alison Marczewski, Tiago Pinho">

    <!-- Le styles -->
    <!--<link href="static/twitter-bootstrap-v1/docs/assets/css/bootstrap.css" rel="stylesheet">
	<link href="static/twitter-bootstrap-v1/docs/assets/css/bootstrap-responsive.css" rel="stylesheet">-->
	<link href="static/twitter-bootstrap-v1/docs/assets/css/example-fluid-layout.css" rel="stylesheet">

	<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><img src="static/mgmfilms.jpg" width="40" height="30" alt="bt movies logo" /></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">Sobre</a></li>
	  		</ul>
			{% block auth_area %}
				{% if logged == True %}
					<p class="navbar-text pull-right">Olá, <a href="#">Pekka</a></p> 
				{% else %}
					<p class="navbar-text pull-right"><a href="/signup">Cadastro</a> | <a href="/login">Login</a></p>
				{% endif%}
			{% endblock auth_area %}
			<form class="navbar-search pull-center" >
					<input type="text" class="search-query" placeholder="Encontre amigos"/> 
					<span class="search-icon js-search-action">
		              <button type="submit" class="nav-search btn" tabindex="-1">
							  <i class="icon-search"></i>
								Buscar 
        		      </button>
            </span>
			</form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
	</div>
    <div class="container-fluid">
		<div class="row-fluid">

{% block user_sheet %}
{% endblock user_sheet %}
{% block content %}
{% endblock content %}
		</div><!--/.fluid-container-->
		<hr/>
     <footer>
        <p>&copy; BT Films 2013</p>
      </footer>

    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
