{% extends "base.html" %}

{% block content %}
<div class="row-fluid">
		<div class="span3"></div>
		

		<div class="span6">
			    <h2>Cadastro Filmes</h2>
			<form class="well" enctype="multipart/form-data" name="frm_cadfilm" style="min-height: 750px;" method="POST" action="/cadfilme">
				
				<div class="span6"> 
					  
					   <div class="fileupload fileupload-new" data-provides="fileupload">
						<div class="fileupload-preview thumbnail" style="width: 200px; height: 150px;"></div>
						<div>
						  <span class="btn btn-file">
								<span class="fileupload-new">Select image</span>
								<span class="fileupload-exists">Change</span>
								<input type="file" name="imagepath" />
						  </span>
						  <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
						</div>
        				      </div>			
					   							 
					
						
					  <label>Título:</label> <input placeholder="Digite o título do filme aqui" name="title" type="text"  />
					  <label>Link Imdb</label> <input placeholder="Digite o link do filme aqui" name="imdb" type="text"/>
					  <label>Autor:</label> <input  placeholder="Digite o nome do autor" name="director" type="text"/>
					  
					 <label>Atores Principais:</label> <input placeholder="Ex: Tom Cruiser, Mila Kunis" name="actors"  id="atores"type="text"  /> 
									
					  <label>Roteirista:</label> <input placeholder="Ex: Fulano, Beltrano" name="writers" type="text" />
					  <label>Nota:</label> <input placeholder="Digite a sua nota do filme aqui" name="rating" type="text"/>
					  				  
					  <label>Sinopse</label> <textarea name="sinopse" rows='5' cols='50'></textarea>
					  <label>Ano</label> <input placeholder="Digite o ano do filme aqui" name="year" type="text"/>
					  <label>
							  <input type="submit" class="btn" value="Enviar" />
					  </label>
				</div>
				<h3>Gêneros do Filme</h3>
				<div class="span3"> 
					  <label style="padding-bottom: 15px;" ><input name="unknown"  unchecked type="checkbox"   /> Unknown</label>
					  <label style="padding-bottom: 15px;"><input name="action" type="checkbox"  /> Action</label> 
					  <label style="padding-bottom: 15px;"><input name="adventure" type="checkbox" /> Adventure</label> 
					  <label style="padding-bottom: 15px;"><input name="animation" type="checkbox" /> Animation</label> 
					  <label style="padding-bottom: 15px;"><input name="children" type="checkbox"   /> Children</label> 
					  <label style="padding-bottom: 15px;"><input name="comedy" type="checkbox"   /> Comedy</label> 
					  <label style="padding-bottom: 15px;"><input name="crime" type="checkbox"  /> Crime</label> 
					  <label style="padding-bottom: 15px;"><input name="documentary" type="checkbox"   /> Documentary</label>
					  <label style="padding-bottom: 15px;"><input name="drama" type="checkbox"   /> Drama</label> 
					  <label style="padding-bottom: 15px;"><input name="fantasy" type="checkbox"  /> Fantasy</label>
				</div>
				<div class="span3">
					  
					  <label style="padding-bottom: 15px;"><input name="filmnoir" type="checkbox"  /> Filmnoir</label> 
					  <label style="padding-bottom: 15px;"><input name="horror" type="checkbox"  /> Horror</label> 
					  <label style="padding-bottom: 15px;"><input name="musical" type="checkbox"  /> Musical</label> 
					  <label style="padding-bottom: 15px;"><input name="mystery" type="checkbox" /> Mystery</label> 
					  <label style="padding-bottom: 15px;"><input name="romance" type="checkbox" /> Romance</label> 
					  <label style="padding-bottom: 15px;"><input name="scifi" type="checkbox"   /> Scifi</label> 
					  <label style="padding-bottom: 15px;"><input name="thriller" type="checkbox" /> Thriller</label> 
					  <label style="padding-bottom: 15px;"><input name="war" type="checkbox"  /> War</label> 
					  <label style="padding-bottom: 15px;"><input name="western" type="checkbox"  /> Western</label> 
					  
			        </div>
			    
			    <!-- Button to trigger modal -->
			</form>
		
</div>
{% endblock content %}

