{% extends "index.html" %}
{% block user_sheet %}
        <div class="span3">

          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Infos</li>
              <li>Nome: <a href="#">Álvaro Reis Neto</a></li>
              <li>Apelido:<a href="/alterar">Pekka Kalasvuo</a></li>
              <li>Email: <a href="#">reisneto.alvaro@gmail.com</a></li>
              <li>CPF: <a href="#">171.666.125.300-69</a></li>
			  <li>Senha <a href="#">******</a></li>
			  <li class="nav-header">Preferências</li>
			  <li> <a href="#"> confiança </a> </li>
			  <li> <a href="#"> gêneros </a></li>
			  <li> <a href"#"> Décadas</a></li>		
           </ul>
   		  </div><!--/.well -->
	  </div><!--/span-->
{% endblock user_sheet %}

